indent.log
toptesi_template.aux
toptesi_template.bbl
toptesi_template.blg
toptesi_template.fdb_latexmk
toptesi_template.fls
toptesi_template.lof
toptesi_template.log
toptesi_template.lot
toptesi_template.out
toptesi_template.pdf
toptesi_template.synctex.gz
toptesi_template.tex.bak
toptesi_template.toc

\.snapshots
